__pycache__/
# local updater
pull_from_cluster.sh

# subject data 
sub-*.csv
*subj*.txt

# neuroimaging datatypes
*.hd5
*.nii*

# swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# cluttered or potentially sensitive introspection info
*.html
logs

# image files
*.png

# large sets of submission scripts/results data
*xtr_scripts*
do_*
metrics_*
model_*
